<%- include ../shared/navbar.html %>
<div class="container">
    <div class="row-fluid">
        <div class="col-md-7 col-md-offset-1">
            <div>
                <h2><%= items.title %></h2>
                <p><%= items.content %></p>
                <hr />
            </div>
            <ul>
                <% items.answer.forEach(function(q, index){ %>
                <li>
                    <hr />
                    <h4><%= items.username %></h4>
                    <p><%= q.answer %></p>
                </li>
                <% })%>
            </ul>
            <form action="answer" method="post">
                <input name="questionId" value="<%= id %>" style="display:none">
                <textarea name="answer"></textarea>
                <input type="submit" value="Submit" />
            </form>
        </div>
        <div class="col-md-4">
            <h2>我的信息</h2>
        </div>
    </div>
</div>
<%- include ../shared/footer.html %>